/*默认样式重置*/
body,h1,dl,dt,dd,h5,p{
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
input{
	padding: 0;
	border-width: 1px;
}
img{
	vertical-align: top;
	border: none;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
